version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile-dev
    command: python manage.py runserver 0.0.0.0:8000
    restart: unless-stopped
    volumes:
      - .:/wsra
      - /wsra/media/images
      - /wsra/media/sounds
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
     - DEBUG=1
     - ENVIRONMENT=development
     - DB_USER=user
     - DB_PASSWORD=pass
     - DB_HOST=db
     - DB_NAME=postgres
     - SECRET_KEY=!iy21yv*5i&4g&8dz3$r6h0+uliryoisrus_!@3--573@&z&@y
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
   postgres_data:
     driver: local
