django==4.1.5
psycopg2-binary==2.9.5
djangorestframework==3.14.0
django-treebeard==4.6.1
attrs==22.2.0
pillow==9.4.0
djangorestframework-recursive==0.1.2
djoser==2.2.0
django_cors_headers==3.14.0
whitenoise==6.6.0
gunicorn==21.2.0