{% extends "_base.html" %}
{% block styles %}
{{ block.super }}

{% if card.front_images|length > 0 %}
.card-body .card-question {
    display: flex;
}

@media only screen and (max-width: 800pt) {
    .card-body .card-question {
        flex-wrap: wrap;
    }

    .card-body #card-question-image {
        margin-left: 15pt;
    }
}

  {% endif %}

  {% if card.back_images|length > 0 %}
    .card-body .card-answer {
      display: flex;
    }

    @media only screen and (max-width: 800pt) {
    .card-body .card-answer {
        flex-wrap: wrap-reverse;
    }

    .card-body #card-answer-image {
        margin-left: 15pt;
    }
}
  {% endif %}
{% endblock styles %}

{% block question %}
  {% if card.front_images|length > 0 %}
    <div id="card-definition-with-example">
  {% endif %}
  <p>{{ card.front | safe }}</p>
  {% if card.front_images|length > 0 %}
    </div>
  {% endif %}
  {% if card.front_images|length > 0 %}
  {% include "_card_question_image.html" %}
  {% endif %}
{% endblock question %}

{% block answer %}
  {% if card.back_images|length > 0 %}
  <div id="card-answer-image">
    <img src="{{ request.build_absolute_url }}{{ card.back_images.0.image.url }}" />
  </div>
{% endif %}
{% if card.back_images|length > 0 %}
  <div id="card-answer-text">
{% endif %}
{{ card.back | safe }}
{% if card.back_images|length > 0 %}
  </div>
{% endif %}
{% endblock answer %}
