{% extends "card_vocabulary.html" %}
{% block styles %}
  {{ block.super }}
  .card-question {
      display: flex;
      /* flex-wrap: wrap;  */ /* folding boxes - if necessary */
  }

  .card-answer {
      display: flex;
      /* flex-wrap: wrap;  */ /* folding boxes - if necessary */
  }
{% endblock styles %}
{% block question %}
  <div id="card-definition-with-example">
    <p>{{ card.front | safe }}</p>
  </div>
  <div id="card-question-image">
    <img src="{{ card.front_images.0.get_image_url }}" />
  </div>
{% endblock question %}
  {% block answer %}
  <div id="card-answer-image">
    <img src="{{ card.back_images.0.get_image_url }}" />
  </div>
  <div id="card-answer-text">
    {{ card.back | safe}}
  </div>
{% endblock answer %}
