{% extends "_base.html" %}
{% block styles %}
  {{ block.super }}
  .phonetics {
    padding-left: 5px;
    font-weight: bold;
  }

  div#card-question-image {
    margin-left: 10px;
  }

  {% if card.front_images|length > 0 %}
    .card-body #card-question-image {
        margin-left: 15px;
    }

    .card-body #card-question-image > img {
        max-width: 100%;
        height: auto;
    }
  {% endif %}

  {% if card.back_images|length > 0 %}
    .card-body #card-answer-image {
        margin-left: 15px;
    }

    .card-body #card-answer-image > img {
        max-width: 100%;
        height: auto;
    }
  {% endif %}

{% endblock styles %}
{% block question %}
  {% if card.front_images|length > 0 %}
    <div id="card-definition-with-example">
  {% endif %}
  {% block question_text %}
    {{ card.front | safe }}
  {% endblock question_text %}
  {% if card.front_images|length > 0 %}
    </div>
  {% endif %}
  {% if card.front_images|length > 0 %}
  {% include "_card_question_image.html" %}
  {% endif %}
{% endblock question %}

{% block answer %}
  {% if card.back_images|length > 0 %}
  {% include "_card_answer_image.html" %}
{% endif %}
{% if card.back_images|length > 0 %}
  <div id="card-answer-text">
{% endif %}
{% block answer_text %}
  {{ card.back | safe }}
{% endblock answer_text %}
{% if card.back_images|length > 0 %}
  </div>
{% endif %}
{% endblock answer %}
