{% extends "_base.html" %}
{% block styles %}
{{ block.super }}

.card-body {
    container-type: inline-size;
}

{% if card.front_images|length > 0 %}
.card-body .card-question {
    display: flex;
}

@container (max-width: 500px) {
    .card-body .card-question {
        flex-wrap: wrap;
    }

    .card-body #card-question-image {
        margin-left: 15px;
    }

    .card-body #card-question-image > img {
        max-width: 100%;
        height: auto;
    }
}

  {% endif %}

  {% if card.back_images|length > 0 %}
    .card-body .card-answer {
      display: flex;
    }

    @container (max-width: 500px) {
    .card-body .card-answer {
        flex-wrap: wrap-reverse;
    }

    .card-body #card-answer-image {
        margin-left: 15px;
    }

    .card-body #card-answer-image > img {
        max-width: 100%;
        height: auto;
    }
}
  {% endif %}
{% endblock styles %}

{% block question %}
  {% if card.front_images|length > 0 %}
    <div id="card-definition-with-example">
  {% endif %}
  <p>{{ card.front | safe }}</p>
  {% if card.front_images|length > 0 %}
    </div>
  {% endif %}
  {% if card.front_images|length > 0 %}
  {% include "_card_question_image.html" %}
  {% endif %}
{% endblock question %}

{% block answer %}
  {% if card.back_images|length > 0 %}
  {% include "_card_answer_image.html" %}
{% endif %}
{% if card.back_images|length > 0 %}
  <div id="card-answer-text">
{% endif %}
{{ card.back | safe }}
{% if card.back_images|length > 0 %}
  </div>
{% endif %}
{% endblock answer %}
